# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

**/._*
**/.DS_Store
node_modules
coverage
dist
docs-dist
.dumi/tmp*
.idea
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
*.tgz
