**/.DS_Store
dist
docs-dist
public
src/.umi
src/.umi-test
src/.umi-production
LICENSE.*
README.*
.dockerignore
.editorconfig
.eslintignore
.eslintcache
.gitignore
.history
.husky
.prettierignore
*.yaml
